<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            <a color="primary" [routerLink]="['/video/' + element.guid]">{{element.name}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
            <div class="status-div" *ngIf="element.status === 1">
                <mat-spinner [diameter]="18"></mat-spinner>
                <span class="status-text">Processing</span>
            </div>
            <div class="status-div" *ngIf="element.status === 2">
                <mat-icon color="primary">done</mat-icon>
                <span class="status-text">Uploaded</span>
            </div>
            <div class="status-div" *ngIf="element.status === 3">
                <mat-icon color="secondary">error</mat-icon>
                <span class="status-text">Error</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="creation">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="edit-icon" color="primary" aria-hidden="false" aria-label="add-icon">edit</mat-icon>
            <mat-icon color="primary" aria-hidden="false" aria-label="add-icon">delete</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>